<!DOCTYPE html>
<html>

<head>
    <title>Observables</title>
    <script src="../jquery-3.5.1.min.js"></script>
    <script src="../knockout-3.5.1.js"></script>

    <script>
        $(function () {
            function BookViewModel() {
                this.publishers = [
                    { name: 'APress', book: 'Pro JS', price: 49.99 },
                    { name: 'Prentice Hall', book: 'Knockout JS', price: 39.99 },
                    { name: 'Wiley', book: 'Jquery', price: 44.59 }
                ];
            }
            ko.applyBindings(new BookViewModel());
        });

    </script>
</head>

<body>
    <h2>Publishers</h2>
    <!--ko template: {foreach: publishers}-->
    <h3 data-bind="text: name"></h3>
    <p>Book: <span data-bind="text: book"></span></p>
    <p>Price: <span data-bind="text: price"></span></p>
    <!--/ko-->
</body>

</html>